@charset "utf-8";

html {
    font-size: 100%;
}
body {
    color: #333;
    font-size: 1rem;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
a {
    color: #333;
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
.wrapper {
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}
.readmore {
    font-size: 0.875rem;
    text-align: center;
}
.readmore a {
    padding-bottom: 1px;
    position: relative;
    color: #333;
}
.readmore a::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #333;
    transition: all 200ms;
}
.readmore a:hover::after {
    opacity: 0;
    transform:translateY(3px);
}


/* header
-----------------------*/
/* #header {
    position:fixed;
    z-index: 10px;
} */
#header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 10;
}
#header .site-title {
    padding: 20px 16px;
    line-height: 1px;
}
#header .site-title a {
    display: inline-block;
}
nav {
    background-color: #333;
}
nav a {
    color: #fff;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li {
    font-size: 0.875rem;
    padding: 10px 60px 10px 0;
}
#pickup {
    display: flex;
    justify-content: space-between;
    padding-top: 150px;
    margin-bottom: 60px;
}
#pickup article {
    width: 32%;
}
#pickup article .pick-text {
    font-size: 1rem;
    margin: 10px 0 15px 0;
}

/* main Container
----------------------------*/
#container {
    display: flex;
    justify-content: space-between;
}
main {
    width: 65%;
}
main article {
    margin-bottom: 50px;
}
main .article-title {
    font-size: 1.5rem;
    margin: 10px 0 15px 0;
}
main ul {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}
main li {
    font-size: 0.875rem;
    margin-right: 20px;
}
main p {
    padding: 10px 40px 30px 40px;
}

/* aside section
-------------------------------*/
#aside {
    width: 33%;
    padding: 20px;
}
#aside .author h3 {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 30px;
}
.author {
    text-align: center;
}
.author .profile {
    font-size: 0.875rem;
    text-align: left;
}
#aside .author-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 30px;
}